<h2>Bine ai venit!</h2>
<form action="/admin" method="post">
    Nume produs:
    <input type="text" name="name"><br><br> Pret produs:
    <input type="text" name="pret"><br>
    <br>
    <button class="button" type="submit">Adaugă</button>
</form>