<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <title>CAMHAUS</title>
    <link rel="shortcut icon" href="imagini/logo5.png">
    <meta charset="utf-8" />
    <link href="css/stil.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header>


        <div class="parent">
            <img class="image1" src="imagini/bg.jpg" alt="bg.jpg" width="1500" height="360">
            <img class="image2" src="imagini/logo.jpg" alt="logo.jpg">
        </div>

    </header><br><br>



    <main id="continut">
        <div class="topnav">

            <a href="http://localhost:6789/"><i class="fa fa-fw fa-home"></i>ACASĂ</a>&nbsp;&nbsp;
            <a href="http://localhost:6789/chestionar"><i class="fa fa-fw fa-question-circle"></i> CHESTIONAR</a>&nbsp;&nbsp;
            <!--a href="http://localhost:6789/autentificare"><i class="fa fa-fw fa-user"></i>AUTENTIFICARE</a>&nbsp;&nbsp;
            <a href="/delogare"><i class="fa fa-fw fa-sign-out"></i>DECONECTARE</a>&nbsp;&nbsp;-->

        </div><br><br>

        <%- body -%>

    </main>

    <footer>

        &copy; .2021. CAMHAUS

    </footer>
</body>



</html>